### Actionscript template
# Build and Release Folders
bin/
.idea
node_moduleslog
npm-debug.
bin-debug/
bin-release/
sidenav
node_modules
# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Created by .ignore support plugin (hsz.mobi)
a/